@using Microsoft.AspNetCore.Identity
@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Zarządzanie kontami";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <h4>Zmień ustawienia konta:</h4>
    <dl class="dl-horizontal">
        <dt class="accoutns-names">@UserManager.GetUserName(User)</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-bracketed">Zmień hasło</a>
        </dd>
    </dl>
    
    @if (Model.ApplicationUsers.Any())
    {
        <hr />
        <h4>Zmień ustawienia kont użytkowników: <a asp-controller="Manage" asp-action="AddUser" class="btn btn-bracketed">Dodaj użytkownika</a></h4>       
        @foreach (var user in Model.ApplicationUsers)
        {
            @if (!UserManager.GetUserName(User).Equals(user.UserName))
            {
                <dl class="dl-horizontal">
                    <dt class="accoutns-names">
                        @user.Email
                    </dt>
                    <dd>
                        @if (user.Roles.Contains("Admin"))
                        {
                            <span class="glyphicon glyphicon-star text-warning"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-star text-warning accounts-icon-hidden"></span>
                        }

                        @if (user.Roles.Contains("User"))
                        {
                            <span class="glyphicon glyphicon-user text-info"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-user text-info accounts-icon-hidden"></span>
                        }

                        @if (await UserManager.IsLockedOutAsync(await UserManager.FindByEmailAsync(user.Email)))
                        {
                            <span class="glyphicon glyphicon-lock text-danger"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-lock text-danger accounts-icon-hidden"></span>
                        }

                        <a asp-controller="Manage" asp-action="ChangeUserPassword" asp-route-email="@user.Email" class="btn btn-bracketed">Zmień hasło</a>
                        <a asp-controller="Manage" asp-action="ChangeUserRoles" asp-route-email="@user.Email" class="btn btn-bracketed">Zmień uprawnienia</a>
                        <a asp-controller="Manage" asp-action="LockUnlockUser" asp-route-email="@user.Email" class="btn btn-bracketed">Zablokuj/odblokuj</a>
                        <a asp-controller="Manage" asp-action="RemoveUser" asp-route-email="@user.Email" class="btn btn-bracketed">Usuń</a>
                    </dd>
                </dl>
            }
        }
    }
</div>
